<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Video - MaxForce</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='stylesheets/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='stylesheets/vendor.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='stylesheets/main.css') }}">
    <!-- script
    ================================================== -->
    <script src="static/javascripts/modernizr.js"></script>
    <script src="static/javascripts/pace.min.js"></script>


    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="index.html">
                        <img src="static/images/logo.png" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->

                <ul class="header__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->

                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div>  <!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li class="current"><a href="index.html" title="">Главная</a></li>
                        <li><a href="posts.html" title="">Статьи</a></li>
                        <li><a href="video.html" title="">Видео</a></li>
                        <li><a href="contact.html" title="">Контакты</a></li>
                        <li><a href="forum.html" title="">Форум</a></li>
                        <li><a href="signup.html" title="">Войти</a></li>
                        <li><a href="signup.html" title="">Регистрация</a></li>
                        <li><a href="login.html" title="">Войти</a></li>

                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->

    </div> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-video">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Здесь мы собрали для Вас интересные видео
                </h1>
                    </li>
                </ul>
            </div> 
            <div class="col-full s-content__main">
            <div class="s-content__media col-full">
                <p class="lead">Обзор на кроссовки Air Jordan 1</p>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Mu6EGANxGsc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div> 
                
                <div class="s-content__media col-full">
                    <p class="lead" >Что могут китайские кроссы за 600 баксов?! Обзор Anta KT7 "KOI"</p>
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/EXlOnFWQPFA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div> 
                        <div class="s-content__media col-full">
                <p class="lead" >Лучшие Adidas в истории? Обзор Yeezy Boost 350 v2 Zebra</p>
                <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3jUfXE1e_Ic" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>             
        </article>
                        </form>
                    </div> 
                </div> 
            </div> 
        </div> 
    </section> 

    <section class="s-extra">

        <div class="row top">

            <div class="col-eight md-six tab-full popular">
                
                <h3>О нас</h3>

                <p>
                MaxForce это ресурс о кинематографе, кроссовках, музыке,науке и игровой индустрии. Мы собираем для Вас самые интересные новости, а также пишем обзоры и статьи о новинках и классике, чтобы вы решили стоить Вам смотреть,играть,слушать или купить новые кроссовки.
                </p>

                <ul class="about__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->
            </div> <!-- end about -->

        </div> <!-- end row -->

        <div class="row bottom tags-wrap">
            <div class="col-full tags">
                <h3>Tags</h3>

                <div class="tagcloud">
                    <a href="#0">Кино</a>
                    <a href="#0">Jordan</a>
                    <a href="#0">Космом</a>
                    <a href="#0">Обзоры</a>
                    <a href="#0">GTA</a>
                    <a href="#0">Новинки</a>
                    <a href="#0">Редизы</a>
                </div> <!-- end tagcloud -->
            </div> <!-- end tags -->
        </div> <!-- end tags-wrap -->

    </section>


    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                <div class="col-two md-four mob-full s-footer__sitelinks">
                        
                    <h4>Меню</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="posts.html">Статьи</a></li>
                        <li><a href="video.html">Видео</a></li>
                        <li><a href="contact.html">Контакты</a></li>
                        <li><a href="forum.html">Форум</a></li>
                        <li><a href="signup.html">Войти</a></li>
                    </ul>

                </div> <!-- end s-footer__sitelinks -->

                <div class="col-two md-four mob-full s-footer__archives">
                        
                    <h4>Архив</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Август 2022</a></li>
                        <li><a href="#0">Сентябрь 2022</a></li>
                        <li><a href="#0">Октябрь 2022</a></li>
                        <li><a href="#0">Ноябрь 2022</a></li>
                        <li><a href="#0">Декабрь 2022</a></li>
                    </ul>

                </div> <!-- end s-footer__archives -->

                <div class="col-two md-four mob-full s-footer__social">
                        
                    <h4>Наши соцсети</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Facebook</a></li>
                        <li><a href="#0">Instagram</a></li>
                        <li><a href="#0">Twitter</a></li>
                        <li><a href="#0">Pinterest</a></li>
                    </ul>

                </div> <!-- end s-footer__social -->

                <div class="col-five md-full end s-footer__subscribe">
                        
                    <h4>Рассылка</h4>

                    <p>Чтобы быть в курсе всех наших новостей, подпишись на нашу новостную рассылку</p>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                
                            <input type="submit" name="subscribe" value="Send">
                
                            <label for="mc-email" class="subscribe-message"></label>
                
                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>© MaxForce 2021</span> 
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="static/javascripts/jquery-3.2.1.min.js"></script>
    <script src="static/javascripts/plugins.js"></script>
    <script src="static/javascripts/main.js"></script>

</body>

</html>